* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to bottom, #459FB1, #9CE3EF);
    min-height: 100vh;
}

.login-btn {
    background-color: yellow;
}
.login-btn:hover {
    background-color: #ffcc00;
}
.login-btn:active, .btn:active {
    transform: translateY(2px);
}

.overview, .our_team {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

@media (min-height: 700px) {
    .overview{
        padding-top: 12rem;
        padding-bottom: 12rem;
    }
    .our_team {
        padding-bottom: 18rem;
    }
}

footer {
    background-color: #F5C830;
}

