<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Error</title>

    <th:block th:insert="~{head}"></th:block>

    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/error-page.css">
</head>

<body>
<div class="container text-center">
    <h3 th:text="${errorMessage}"></h3>
    <button class="btn ml-4 inline-flex text-gray-700 bg-gray-200 border-0 py-2 px-6 focus:outline-none hover:bg-gray-300 rounded text-lg">
        <a href="/">Back to Home</a>
    </button>
</div>
</body>

</html>
