<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Landing Page</title>

    <th:block th:insert="~{head}"></th:block>

    <link rel="stylesheet" type="text/css" href="/static/css/landing-page.css">
</head>

<body class="flex min-h-screen flex-col justify-start">
    <header class="text-white body-font border-b border-gray-200">
        <div class="container mx-auto flex flex-wrap py-2 px-5 flex-row items-center">
            <div class="flex">
                <img src="/static/favicon/android-chrome-512x512.png" alt="Logo" width="75">
                <div class="flex flex-col">
                    <span class="ml-3 text-3xl font-semibold tracking-wide">FoodRescue</span>
                    <span class="ml-3 font-medium">Not all heroes wear capes, all heroes need to eat</span>
                </div>
            </div>
            <nav class="ml-auto flex flex-wrap items-center text-base justify-center font-medium">
                <a class="mr-5 hover:text-gray-400">About</a>
                <a class="mr-5 hover:text-gray-400">Contact</a>
                <a href="/listings-page" class="mr-5 hover:text-gray-400">Listings</a>
            </nav>
            <button onclick="window.location.href = '/login'"
                class="login-btn inline-flex items-center border-0 py-1 px-3 focus:outline-none rounded text-base font-medium text-black">Login
            </button>
        </div>
    </header>

    <section class="my-auto text-white body-font">
        <div class="container mx-auto flex px-5 flex-row items-center">
            <div class="flex-grow w-1/2 pr-16 flex flex-col items-start text-left mb-0">
                <h1 class="text-4xl mb-4 font-medium">Rescue Food, Reduce Waste
                </h1>
                <p class="mb-8 leading-relaxed">Our app connects retailers with local food banks and charities to rescue
                    surplus food before it goes to waste.</p>
                <div class="flex justify-center">
                    <button onclick="window.location.href = '/register'"
                        class="btn inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Sign
                        Up
                    </button>
                    <button
                        class="btn ml-4 inline-flex text-gray-700 bg-gray-200 border-0 py-2 px-6 focus:outline-none hover:bg-gray-300 rounded text-lg">Learn
                        More</button>
                </div>
            </div>
            <div class="w-1/2">
                <img class="object-cover object-center rounded" alt="hero" src="/static/images/food.png">
            </div>
        </div>
    </section>

    <footer>
            <div class="container mx-auto py-4 px-5 flex flex-wrap flex-row">
                <p class="mt-2 text-gray-800 hover:text-gray-900 text-sm text-left">Terms of Service</p>
                <p class=" mt-2 ml-5 text-gray-800 hover:text-gray-900 text-sm text-left">Privacy Policy</p>
                <span class="ml-auto mt-2 text-gray-800 hover:text-gray-900 text-sm">&copy; 2023 Food Rescue. All rights
                    reserved.</span>
            </div>
    </footer>
</body>

</html>