<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Landing Page</title>

    <th:block th:insert="~{head}"></th:block>

    <link rel="stylesheet" type="text/css" href="/static/css/landing-page.css">
</head>
<body>
<navbar>
    <div class="logo-container">
        <img src="/static/favicon/android-chrome-512x512.png" alt="Logo" width="100" height="100">
        <div>
            <h2>Food Rescue</h2>
            <a>Not all heroes wear capes, all heroes need to eat</a>
        </div>
    </div>
    <div class="nav-links">
        <div>about</div>
        <div>contact</div>
        <a class="nav-links-login" href="/login">login</a>
    </div>
</navbar>

<main>
    <h1>Rescue Food, Reduce Waste</h1>
    <p>Our app connects retailers with local food banks and charities to rescue surplus food before it goes to waste.</p>
    <div class="buttons">
        <a href="/login" class="primary-button">Sign Up</a>
        <a href="#" class="secondary-button">Learn More</a>
    </div>
</main>

<footer>
    <div class="footer-left">
        <a href="#">About Us</a>
        <a href="#">Contact Us</a>
        <a href="#">Terms of Service</a>
        <a href="#">Privacy Policy</a>
    </div>
    <div class="footer-right">
        <p>&copy; 2023 Food Rescue. All rights reserved.</p>
    </div>
</footer>

</body>

</html>