<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <th:block th:insert="~{head}"></th:block>

    <link rel="stylesheet" type="text/css" href="/static/css/login-page.css">
</head>

<body class="font-sans">
    <div class="container mx-auto p-8 flex">
        <div class="max-w-md w-full mx-auto">
            <h1 class="text-6xl text-center mb-12 font-bold text-white">Food Rescue</h1>

            <div class="bg-white rounded-lg overflow-hidden shadow-2xl">
                <div class="p-8">
                    <form method="post" th:action="@{/login}">
                        <div class="mb-5">
                            <label for="email" class="block mb-2 text-sm font-medium text-gray-600">Email</label>

                            <input type="text" id="email" name="email" 
                                class="block w-full p-3 rounded bg-gray-300 border border-transparent focus:outline-none"
                                th:field="*{user.email}" th:value="*{user.email}"
                                th:readonly="*{isRegistering}" required>
                        </div>

                        <div class="mb-5">
                            <label for="password" class="block mb-2 text-sm font-medium text-gray-600">Password</label>

                            <input type="text" id="password" name="password" 
                                class="block w-full p-3 rounded bg-gray-300 border border-transparent focus:outline-none"
                                th:field="*{user.password}"
                                th:value="*{user.email}" th:readonly="${isRegistering}" required>
                        </div>

                        <div class="mb-5">
                            <label for="name" class="block mb-2 text-sm font-medium text-gray-600" 
                                th:classappend="${!isRegistering} ? 'hidden' : ''">Name</label>

                            <input type="text" id="name" name="name" 
                                class="block w-full p-3 rounded bg-gray-300 border border-transparent focus:outline-none"
                                th:field="*{user.name}" 
                                th:classappend="${!isRegistering} ? 'hidden' : ''">
                        </div>

                        <button type="submit" name="login" value="Login" class="w-full p-3 mt-4 bg-indigo-600 text-white rounded shadow">Login</button>
                        <div class="mt-4 w-full h-0 border border-solid border-y border-gray-600"></div>
                        <button type="submit" name="register" value="Register" th:disabled="${isRegistering}" class="w-full p-3 mt-4 bg-indigo-600 text-white rounded shadow">Register</button>
                        
                        <p class="mt-4 w-full text-center font-sans font-normal" 
                            th:text="${success}" 
                            th:if="${success}"></p>
                        <p class="mt-4 w-full text-center font-sans font-normal" 
                            th:text="${error}" 
                            th:if="${error}"></p>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        // Change the type of the password field to "password" so that the password is not visible.
        // This is done to allow default values to be set in the password field.
        document.getElementById("password").type = "password";
    </script>
</body>

</html>